{
  "extends": "@heartly/eslint-config-typescript",
  "rules": {
    "react/prop-types": [0]
  },
  "globals": {
    "describe": true,
    "expect": true,
    "jest": true,
    "it": true,
    "test": true
  }
}
