defaults: &defaults
  working_directory: ~/code
  docker:
    - image: circleci/node:12
      environment:
        NPM_CONFIG_LOGLEVEL: error # make npm commands less noisy
        JOBS: max # https://gist.github.com/ralphtheninja/f7c45bdee00784b41fed

restore_cache: &restore_cache
  restore_cache:
    keys:
      - code-{{ .Branch }}-{{ checksum ".nvmrc" }}-{{ checksum "yarn.lock" }}

save_cache: &save_cache
  save_cache:
    key: code-{{ .Branch }}-{{ checksum ".nvmrc" }}-{{ checksum "yarn.lock" }}
    paths:
      - node_modules

version: 2
jobs:
  test-build:
    <<: *defaults
    steps:
      - checkout
      - run: yarn
      - *restore_cache
      - run: yarn
      - run: yarn lint
      - run: yarn build
      - run: yarn test
      - *save_cache

workflows:
  version: 2
  commit:
    jobs:
      - test-build
